---
---

//
// IMPORTS
@import "reset";
@import "variables";
@import "mixins";

/**************/
/* BASE RULES */
/**************/
html {
  // resize base font size to 10px (16px * 62.5), allows easy calculation of rem values.
  font-size: 62.5%;
}

body {
  background: $white;
  color: $darkGray;
  font: 1.6rem/1.4 $verdana;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 1rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1rem 0 1.5rem;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 3rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
  color: $gray;
}

p {
  margin: 1.5rem 0;
}

a {
  color: $green;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:active {
    color: $green;
    text-decoration: underline;
  }
}

ul, ol {
  margin: 1.5rem 0;
  padding-left: 3rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 1.5rem;
  @include mobile {
    overflow: auto;
    display: block;
    white-space: nowrap;
  }
}

th {
  background-color: $lightGray;
  color: $darkerGray;
}

td, th {
  border: 1px solid $lightGray;
  padding: 0.5rem;
  text-align: left;
}

tr:hover {
  color: $gray;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightergreen;
}
::selection {
  color: $black;
  background: $lightergreen;
}

// Nicolas Gallagher's micro clearfix hack
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 2rem 0;
  border-bottom: 0.1rem solid $green;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 1.5rem;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 0.5rem;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
}

.site-description {
  margin: -0.5rem 0 0 0;
  color: $gray;
  font-size: 1.6rem;

  @include mobile {
    margin: 0.3rem 0;
  }
}

nav {
  float: right;
  margin-top: 2.3rem; 
  font-family: $verdana;
  font-size: 1.8rem;

  @include mobile {
    float: none;
    margin-top: 0.9rem;
    display: block;
    font-size: 1.6rem;
  }

  a {
    margin-left: 2rem;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 0.1rem;

    @include mobile {
      margin: 0 1rem;
      color: $green;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 0.1rem solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 0.2rem solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 2.2rem;
    font-style: italic;
  }

  .comments {
    margin-top: 1rem;
  }
  .entry a {
    text-decoration: underline;
  }

  .post-details {
    color: $gray;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
  }

  .post-category {
    text-transform: uppercase;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-left : -4px;
    padding: 2px 4px;
    &:before {
        content: "\27A4";
    }
    &:hover, &:active {
      background: $green;
      color: white;
    }
  }

  img  {
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,.1);
    border-radius: 5px;
  }
}

.wrapper-footer {
  display: none;
}

//
// post
//

.container > .post > h1 {
  @include title;
}

//
// 404
// 
.notfound {
  // max-width: 740px;
  min-height: 420px;
  padding: 2rem;
  color: $white;
  background: no-repeat url("/images/404.jpg");

  h1 {
    @include title;
  }
}
