--- 
--- 
@import "variables";

aside {
    align-items: center;
    background: #{$green}30;
    border-radius: 20rem 5rem;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

aside p {
    text-align: center;
}

aside img {
    border-radius: 4rem 1rem;
}