--- 
--- 
@import "variables";
@import "svg-icons";

.wrapper-footer {
    background-color: $green;
    display: block;
    margin-top: 5rem;
}

.wrapper-footer::before {
    background: $green;
    clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%);
    content: '';
    display: block;
    height: 4rem;
    left: 0;
    position: absolute;
    transform: translateY(-3rem);
    width: 100%;
    z-index: -1;
}
  
footer {
    padding: 2rem 0;
    text-align: center;
}
.hide {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
} 

@import "highlights";