<h2 id="give-blood">
    Give blood!
</h2>

<img src="{{ "/images/blood.co.uk.jpg" | absolute_url }}" alt="Blood.co.uk">

<p>
    If you are able to, I urge you to consider giving blood - 
    <a href="https://www.blood.co.uk/" target="_blank" rel="noopener noreferrer">
        for the UK visit NHS Blood and Transplant
    </a>
    .  I’ve done 29 donations so far, and have always found it an easy and painless process
    , so if you haven’t gone before please consider it, the staff are always extremely friendly 
    and will guide you through the process without any pressure (+free biscuits!).
</p>
