
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$green: #425E4F;
$lightgreen: #78AA8F;
$lightergreen: #A4EAC5;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$verdana: Verdana, Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;
$nunito: 'Nunito', Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}